body {

}

.header {
    font-family: 'Public Sans', sans-serif;
    display: flex;
    background-color: #ffffff;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.title {
    position: relative;
    width: 45px;
    height: 42px;

}

.texto-logo {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    left: 50px;
    bottom: 5px;
}

..menu-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding: 20px;
    height: 40px;
}

.menu-itens li {
    padding: 10px;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.itens {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #5BC241;
    color: #ffffff;
    border-radius: 10px;
}


.btn:hover {
    background-color: #64d348;
    cursor: pointer;
    transition: 0.2 easy-in-out;
}

.btn:active {
    background-color: #d3a748;
    cursor: pointer;
    transition: 0.2 easy-in-out;
}